:root {
  --heading-font: Arial, sans-serif;
  --main-font: Tahoma, sans-serif;
  --secondary-font: monospace;
  font-size: 1em;
  box-sizing: border-box;
  --color-dark: #1a2235;
  --color-bright: #f9faf8;
  --color-light-grey: #c6c6c7;
  --color-accent: #2677f8;

}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: inherit;
  border-radius: inherit;
  letter-spacing: inherit;
  /* outline: 1px solid rgba(128, 128, 128, 0.432); */
  /* for debugging */
}

li {
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-bright);
  color: var(--color-dark);
  letter-spacing: 1px;
}

body>*>* {
  border-radius: 5px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}



/* Navbar */
.header:first-child,
footer {
  color: var(--color-bright);
  background-color: var(--color-dark);
}

.header:first-child>nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}


.header:first-child>nav>* {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.logo-container {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 1.5em;
}

.header:first-child>nav>.nav-toggle {
  gap: .45em;

}


.header>nav.open>.nav-toggle {
  background-color: #303f53;
}

@media (min-width: 870px) {
  .header>nav>.nav-toggle {
    display: none;
  }
}

.nav-toggle>.icon-bar {
  height: 0.125rem;
  width: 1.6875rem;
  background-color: var(--color-bright);
  flex-shrink: 0;
}

.header:first-child>nav>.nav-menu {
  display: none;
  flex-direction: column-reverse;
  position: absolute;
  top: 5.625rem;
  right: 0.625rem;
  left: 0.625rem;
}

@media (min-width: 870px) {
  .header:first-child>nav>.nav-menu {
    display: flex;
    flex-direction: row;
    position: static;
  }
}

#nav.open .nav-menu {
  display: flex;
}

.header:first-child>nav>.nav-menu>* {
  display: flex;
  gap: .5em;
  justify-content: center;
}

.button {
  padding: .7em 2em;
  height: 100%;
  width: 100%;
}



.button.primary {
  background-color: var(--color-accent);
  color: var(--color-bright);
}

.button.primary:is(:focus, :hover) {
  background-color: #538fee;
}

.button.secondary {
  background-color: transparent;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.button.secondary:is(:focus, :hover) {
  border: 2px solid var(--color-light-grey);
  color: var(--color-light-grey);
}

.nav-bar {
  flex-direction: column;
}

@media (min-width: 870px) {
  .nav-bar {
    flex-direction: row;
  }

  .nav-item,
  .nav-buttons>li {
    flex-shrink: 0;
  }
}

.nav-bar>.nav-item>a {
  padding: 1em;
  display: block;
  text-align: center;
}

.nav-bar>.nav-item>a:is(:focus, :hover) {
  background-color: #303f53;
}

/* Page Header */
.page-header {
  padding: 1em;
  background-color: var(--color-dark);
  color: var(--color-bright);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-image,
.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.page-header>.header-content {
  margin-top: 1em;

}

.page-header>.header-content>* {
  padding: .5em 0;
}

.page-header>.header-content>h2 {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1;
}

.page-header>.header-content>ul {
  display: flex;
  gap: 1em;

}

.page-header>.header-content>ul>li {
  flex-grow: 1;
}

.page-header .button.secondary:is(:focus, :hover) {}

/* main */
.main>* {
  margin-bottom: 4em;
  border-radius: 0;
}

section {
  padding: 1em;
  border-radius: 0;
}

.main>section>h2 {
  font-size: 1.5em;
  padding: 1em;
  font-weight: 900;
  text-align: center;
}

.card,
.tweet-container {
  background-color: var(--color-dark);
  color: var(--color-bright);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;

}

@media (min-width: 870px) {

  .cards-container,
  .tweet-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    align-items: stretch;
  }

  .card {
    flex-basis: 400px;
  }

  .why-section,
  .testimonials {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-section>h2,
  .testimonials>h2 {
    flex-basis: 100%;
  }
}

.card>h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: 900;
  color: var(--color-accent);
}

.card>p {
  font-size: .9em;
}

.portfolio {
  background-color: var(--color-dark);
  color: var(--color-bright);
  padding: 4em 0;
}

@media (min-width: 870px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 4em;
  }

  .portfolio>h2 {
    flex-basis: 100%;
  }
}

.portfolio>a {
  display: block;
  width: 300px;
  padding: 1em;
  margin: 0 auto 1em;
  border-radius: 5px;

  background-color: var(--color-bright);
  color: var(--color-dark);
  box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.25);

}

@media (min-width: 870px) {
  .portfolio>a {
    margin: 0;
  }
}

.showcase-image {
  background-color: var(--color-light-grey);
  width: 100%;
  height: 160px;
  padding: 4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-text {
  padding: 0 1em;
}

.showcase-text>h3 {
  margin-bottom: .5em;
}


/* Form */
section.form {
  background-color: var(--color-dark);
  color: var(--color-bright);
  margin-bottom: 0;

}

section.form>h2 {
  text-align: start;
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
}

section.form>form {
  padding: 1em;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 870px) {
  section.form>form {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }

  section.form>form>.button {
    height: auto;
    width: max-content;
  }

  section.form>form>input {
    flex-grow: 1;
  }



}

.email-label {
  position: absolute;
  left: -999999999999999px;
  overflow: hidden;
}

footer {
  padding: 5em;
  text-align: center;
}

/* Shadows at the end */
img {
  width: 100%;
}


.nav-menu,
.card,
.button.primary,
.tweet-container {
  box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.25);

}

@media (min-width: 870px) {
  .nav-menu {
    box-shadow: none;
  }
}

.how {

  box-shadow: -1px 6px 6px -2px rgba(0, 0, 0, 0.25) inset;
}