:root {
  --heading-font: Arial, sans-serif;
  --main-font: Tahoma, sans-serif;
  --secondary-font: monospace;
  font-size: 1em;
  box-sizing: border-box;
  --color-dark: #1f2937;
  --color-bright: #f9faf8;
  --color-light-grey: #E5E7EB;
  --color-accent: #3882F6;

}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-bright);
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

/* Navbar */
.header:first-child {
  color: var(--color-bright);
  background-color: var(--color-dark);
}