:root {
  --heading-font: Arial, sans-serif;
  --main-font: Tahoma, sans-serif;
  --secondary-font: monospace;
  font-size: 1em;
  box-sizing: border-box;
  --color-dark: #1f2937;
  --color-bright: #f9faf8;
  --color-light-grey: #c6c6c7;
  --color-accent: #3882F6;

}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: inherit;
  border-radius: inherit;
  letter-spacing: inherit;
  /* outline: 1px solid rgba(128, 128, 128, 0.432); */
  /* for debugging */
}

li {
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--color-bright);
  color: var(--color-dark);
  letter-spacing: 1px;
}

body>*>* {
  border-radius: 5px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

.page-header {
  /* Box shadow */
}

/* Navbar */
.header:first-child {
  color: var(--color-bright);
  background-color: var(--color-dark);
}

.header:first-child>nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;

  ;
}

.header:first-child>nav>* {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.logo-container {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 1.5em;
}

.header:first-child>nav>.nav-toggle {
  gap: .45em;
  background-color: ;
}


.header>nav.open>.nav-toggle {
  background-color: #303f53;
}

.nav-toggle>.icon-bar {
  height: 0.125rem;
  width: 1.6875rem;
  background-color: var(--color-bright);
  flex-shrink: 0;
}

.header:first-child>nav>.nav-menu {
  display: none;
  flex-direction: column-reverse;
  position: absolute;
  top: 5.625rem;
  right: 0.625rem;
  left: 0.625rem;
}

#nav.open .nav-menu {
  display: flex;
}

.header:first-child>nav>.nav-menu>* {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.button {
  padding: .7em 2em;
  height: 100%;
  width: 100%;

}

.button.primary {
  background-color: var(--color-accent);
  color: var(--color-bright);
}

.button.primary:is(:focus, :hover) {
  background-color: #538fee;
}

.button.secondary {
  background-color: transparent;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.button.secondary:is(:focus, :hover) {
  border: 2px solid var(--color-light-grey);
  color: var(--color-light-grey);
}

.nav-bar {
  flex-direction: column;

}

.nav-bar>.nav-item>a {
  padding: 1em;
  display: block;
  text-align: center;
}

.nav-bar>.nav-item>a:is(:focus, :hover) {
  background-color: #303f53;
}

/* Page Header */
.page-header {
  padding: 1em;
  background-color: var(--color-dark);
  color: var(--color-bright);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header>.header-content {
  margin-top: 1em;

}

.page-header>.header-content>* {
  padding: .5em 0;
}

.page-header>.header-content>h2 {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1;
}

.page-header>.header-content>ul {
  display: flex;
  gap: 1em;

}

.page-header>.header-content>ul>li {
  flex-grow: 1;
}

.page-header .button.secondary:is(:focus, :hover) {}

/* main */
/* How */
section.how {

  padding: 1em;
  border-radius: 0;
}

.how>h2 {
  font-size: 1.5em;
  padding: 1em;
  font-weight: 900;
  text-align: center;
}

.card {
  background-color: var(--color-dark);
  color: var(--color-bright);
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
}

.card>h3 {
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: 900;
  color: var(--color-accent);
}

.card>p {
  font-size: .9em;
}

/* Shadows at the end */
img {
  width: 100%;
}